@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');


*{
    margin: 0;
    border: 0;
    
}
#CabecalhoPag6 {
    width: 100%;
    height: 130px;
    background-color: rgba(104, 79, 57, 1);
}
#TextCabecalhoPag6 img{
    width: 340px;
    margin-top: 8px; 
    font-family: "Knewave", system-ui; 
}
#TextCabecalhoPag6{
    display: flex;
    vertical-align: baseline;   
}
#InicioPag6 {
    margin-left: 560px;   
    font-size: 30px;
}
.Text2CabecalhoPag6 {
    margin-top: 40px;
}

.Text2CabecalhoPag6 a{
    font-size: 30px;
    margin-left: 45px;
    color: white;
    text-decoration: none;
    font-family: "Knewave", system-ui;
}
#RodapePag6 {
    width: 100%;
    height: 45px;
    background-color: rgba(104, 79, 57, 1);
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: "Knewave", system-ui;
    margin-top: 637px;
}
#BuscasPag6 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: "Knewave", system-ui;
}
#Input input{
    background-color: rgba(104, 79, 57, 1);
    width: 500px;
    height: 42px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin-left: 715px;
    margin-top: 30px;
}